.container-vaults {
    width: 100%;
    max-width: 416px;
    margin: 0 auto;
}

@media screen and (min-width: 900px) {
    .container-vaults {
        max-width: 832px;
    }
}

@media screen and (min-width: 1300px) {
    .container-vaults {
        max-width: 1248px;
    }
}